*.html

# Ignore the entire .idea directory
.idea/

# Ignore virtual environment directory
.venv/

# Ignore specific files
DS_Store

# Ignore __pycache__ directories
__pycache__/
/sandbox/new.yaml
/sandbox/old.yaml
improved_cicd.yml